@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Dhaka<br />
       
    </address>

    <address>
        <strong>Support:</strong>   <a href="mubtasinkarim@gmail.com">Support@example.com</a><br />
    </address>
</main>